<div class="row my-3">
  <div class="col">
    <div class="card  shadow-sm p-3  bg-body">
      <div class="card-body fs-5 border border-3 text-center  bg-primary-gradient">
        <span class="mx-3">
          <strong>Treatment:</strong>
          <%= treatment.typeoftreatement %>
        </span>
        <span class="mx-3">
          <strong>Teeth:</strong>
          <%= treatment.teeth %>
        </span>
        <span class="mx-3">
          <strong>Next Appointment:</strong>
          <%= treatment.nextappointment %>
        </span>
      </div>
      <div class="card-body fs-5 border border-3 mt-2">
        <p>
          <strong>Medicine:</strong>
          <%= treatment.medicine %>
        </p>
      </div>
    </div>
  </div>
</div>