<h1>Editing treatementtype</h1>

<%= render "form", treatementtype: @treatementtype %>

<br>

<div>
  <%= link_to "Show this treatementtype", @treatementtype %> |
  <%= link_to "Back to treatementtypes", treatementtypes_path %>
</div>
