<div class="container">
  <h1 class="text-center">New Treatement Type</h1>

  <%= render "form", treatementtype: @treatementtype %>

  <br>

  <div>
    <%= link_to "Back to treatementtypes", treatementtypes_path, class:'btn btn-secondary' %>
  </div>
</div>