<!-- <div class="my-2"> -->
<%#= form_with url: "/search", method: :get do |form| %>
<%#= form.label :query, "Search for:" %>
<%#= form.text_field :query %>
<%#= form.submit "Search" %>
<%# end %>
<!-- </div> -->
<div class="my-2">
    <form class="d-flex" action="/search">
        <input class="form-control me-2" name="query"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>
