@import 'bootstrap';
.chair {
    background-image: url('chair.jpg');
    height: 100%;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

span a {
    padding: 0.3rem;
    margin: 0.1rem;
    border: 0.1rem solid black;
}
.text-color-blue {
    color: #0072b5 !important;
}
.bg-primary-gradient {
    background: linear-gradient(90.04deg, #abd7f4 0.03%, rgba(235, 247, 255, 0) 139%);
}